default menu.c32
prompt 0
menu title UNetbootin
timeout 1

label unetbootindefault
menu label Default
kernel /ubnkern
append initrd=/ubninit locale=en_US console-setup/layoutcode=us keyboard-configuration/layoutcode=us file=/cdrom/preseed/kvm-server.seed vga=788 kvm_fqdn=kvm01.rgbnetworks.com kvm_mgmt_ip=192.168.124.5 kvm_mgmt_gw=192.168.124.1 crowbar_fqdn=crowbar.rgbnetworks.com admin_subnet=192.168.124.0 nova_fixed_subnet=192.168.123.0 nova_floating_subnet=192.168.126.0 nova_floating_vlan=300 os_sdn_subnet=192.168.130.0 os_sdn_vlan=400 storage_subnet=192.168.125.0 storage_vlan=200 -- quiet
#append initrd=/ubninit ks=hd:sda1:/ks-noha.cfg
